.fun{
    color: magenta;
}
body{
    background-color: black;
}
p{
    font-size: 20px;
    color: rgb(16, 227, 212);
    display: inline-block;
    text-align: left;
}
.outset{
    border-style:outset;
}
ul{
    font-size: 20px;
    color: rgb(16, 227, 212);
    display: inline-block;
}
.limit{
    max-width: 100%;
    margin-left: 800px;
    margin-right: 50px;
}
.pagefont{
    font-family: Helvetica;
}
.wholepage{
    position: relative;
    text-align: center;
}
h1{
    position: relative;
    text-align: left;
    color: rgb(16, 227, 212);
    margin-right: 20px;
}
h2{
    color: rgb(16, 227, 212);
    margin-top: 10px;
    margin-bottom: 10px;
}
h3{
    font-size: 18px;
    color: rgb(16, 227, 212);
    display: inline-block;
    text-align: left;
}
h4{
    font-size: 20px;
    color: rgb(16, 227, 212);
    font-weight: normal;
    position: relative;
    text-align: left;
    margin-right: 20px;
}

.pp{
    float: left;
    position: relative;
    left: 150px;
}
a:link{
    color: red;
}
a:visited{
    color: magenta;
}
a:hover{
    color: yellow;
}
a:active{
    color: cyan;
}
