/*Global styles
--------------------*/
html {
  box-sizing: border-box;
}
*,*: before, *:after{
  box-sizing: inherit;
}

body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1,h2{
  font-family: 'Comic Sans MS', cursive;
  font-weight:400;
}
h1{
  font-size: : 100px;
}

h2{
  font-size: 50px;
  margin-top:0;
}

.page-content{
  max-width: 900px;
  margin: 0 auto
  padding: 50px;
  overflow: hidden;
}
.column-left {
   width: 35%;
   float: left;
   padding-right: 4%;
   min-height: 160px;
}

.column-right {
  width: 60%;
  float: left;
  min-height: 160px;
}

/*Header & footer
--------------------------*/
header, footer{
  background: #ffc04c;
  color: #0D4F8B;
}
header h1, header h2 {
  color: #0D4F8B;
  margin: 0
}

/*Header styles only*/

.profile-img {
  border-radius: 60%
}
footer {
  text-align: center;
  font-size: 32px;
}
.facts{
  background: #ffdfba;
}
/*Work&Education
----------------------*/
.work, .education{
  background: #ffffff;
}
